apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: cluster-observability-operator
  namespace: openshift-cluster-observability-operator
  annotations:
    argocd.argoproj.io/sync-wave: "-3"
spec:
  channel: {{ co_channel | default('stable') }}
  name: cluster-observability-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace