apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/node-selector: ""
    argocd.argoproj.io/sync-wave: "-10"
  labels:
    openshift.io/cluster-monitoring: "true"
  name: {{ osus_namespace | default("openshift-update-service") }}
