apiVersion: updateservice.operator.openshift.io/v1
kind: UpdateService
metadata:
  name: {{ osus_service_name | default("osus-update-service") }}
  namespace: {{ osus_namespace | default("openshift-update-service") }}
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "5"
spec:
  replicas: 2
  releases: {{ mirror_registry.hostname }}:{{ mirror_registry.port }}/{{ mirror_registry.namespace }}/openshift/release-images
  graphDataImage: {{ mirror_registry.hostname }}:{{ mirror_registry.port }}/{{ mirror_registry.namespace }}/openshift/graph-image:latest
