apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ item.type | default('ldap') | lower }}-ca-{{ item.name }}
  namespace: openshift-config
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
data:
  ca.crt: |
    {{ oauths_ca_content.content | b64decode | indent(width=4) }}
